@model ICollection<ChatMessenger.Core.Models.Db.User>

<link href="~/css/chat/chat_manager.css" rel="stylesheet" />
<link href="~/css/chat/chat_messaging.css" rel="stylesheet" />
<link href="~/css/chat/chat_users.css" rel="stylesheet" />
<link href="~/css/connection-modal.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/utilities.js"></script>
<script src="~/js/chat/chat_manager.js"></script>
<script src="~/js/chat/chat_messaging.js"></script>
<script src="~/js/chat/hub_manager.js"></script>
<script src="~/js/signalr/signalr-client-1.0.0-alpha2-final.js"></script>
<script src="~/js/signalr/signalr-msgpackprotocol-1.0.0-alpha2-final.js"></script>
<script src="~/js/crypto/crypto-js.min.js"></script>
<script src="~/js/crypto/crypto-manager.js"></script>
<script src="~/js/loader/connecting-modal.js"></script>
<script src="~/js/crypto/jsencrypt.js"></script>
<script src="~/js/chat/user_manager.js"></script>

<script>
    $(document).ready(function () {
        chatManager.init("Poghos")
    });
</script>

@{
    ViewData["Title"] = "Chat Messenger";
    Layout = "_Layout";
}

@*@Html.Partial("~/Views/Partial/_Confirmation.cshtml")*@

<div class="chat-content">

    <div class="chat-user-content">
       @await Html.PartialAsync("_ChatUsersPartial")
    </div>
    <div class="chat-message-content filterDisable">
        @await Html.PartialAsync("_ChateMessagePartial")
    </div>

    @*@if (false)
        {
            //TODO delete "if" when finish task
            <div class="glyphicon-hd-video video-recorder">
                @Html.Partial("~/Views/Partial/_Recorder.cshtml")
            </div>
        }*@
</div>